@charset "utf-8";

/* 모바일용 CSS */
/* 기본 CSS */
#wrap {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 auto;
    max-width: 2000px;
    font-family: 'PretendardVariable';
}

#wrap section {
    box-sizing: border-box;
}

/* 헤더 영역 CSS */
#wrap .header {
    display: flex;
    order: 2;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.logo {
    order: 2;
    width: 100%;
    padding: 30px 0;
    padding: 1.875rem 0;
    font-size: 1.188em;
    font-size: 1.188rem;
    line-height: 21px;
    line-height: 1.109rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #000;
    
}

.nav {
    order: 2;
    width: 100%;
}

.gnb {
    display: none;
}

.gnb li {
    display: flex;
    background: #404040;
}

.gnb li a {
    width: 80%;
    padding: 20px 0;
    padding: 1.250rem 0;
    font-size: 0.938em;
    font-size: 0.938rem;
    text-indent: 20px;
    text-indent: 1.250rem;
    font-weight: bold;
    text-transform: uppercase;
}

.gnb li span {
    width: 20%;
    text-indent: -9999px;
    background: url(../images/sub_menu_toggle_btn.png) center center no-repeat;
    cursor: pointer;
}

.menu_toggle_btn {
    display: block;
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 2.5rem;
    position: absolute;
    top: 10px;
    top: 1.505rem;
    right: 10px;
    right: 1.505rem;
    text-indent: -9999px;
    background: url(../images/menu_toggle_btn.png) no-repeat;
    cursor: pointer;
}

/* 콘텐츠 영역 CSS */
.content_section {
    order: 3;
    padding: 60px;
    padding-top: 8rem;
    margin: auto;
    text-align: center;
    color: #fff;
    
}

.content_section .button {
    margin-top: 200px;
    width: 220px;
    height: 65px;
    border-radius: 30px;
    background-color: #0830E8;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* 태블릿용 CSS */
@media all and (min-width:768px) {

    /* 기본 CSS */
    #wrap {
        flex-flow: row wrap;
    }

    /* 헤더 영역 CSS */
    #wrap .header {
        flex-direction: row;
        background-color: #000;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 16.5%;
        /* 120px ÷ 768px */
        padding: 0;
    }

    .logo a {
        display: block;
        padding: 30px 0;
        padding: 1.94rem 0;
    }

    .nav {
        position: relative;
        min-height: 80px;
        min-height: 5.000rem;
    }

    .gnb {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 20;
        width: 100%;
        /* 308px ÷ 768px */
    }

    .menu_toggle_btn {
        top: 50%;
        right: 30px;
        right: 1.875rem;
        z-index: 20;
        margin-top: -15px;
        margin-top: -0.938rem;
    }

    /* 콘텐츠 영역 CSS */
    .content_section .button {
        margin-top: 230px;
        width: 230px;
        height: 65px;
        border-radius: 30px;
        background-color: #0830E8;
        font-size: 16px;
        font-weight: bold;
        border: none;
        color: #fff;
        cursor: pointer;
    }
}

/* PC용 CSS */
@media all and (min-width:1024px) {

    /* 기본 CSS */
    #wrap {
        position: relative;
        width: 100%;
    }

    /* 헤더 영역 CSS */
    #wrap .header {
        order: 1;
        justify-content: flex-end;
        position: static;
        width: 100%;
        background-color: #000;
    }

    .logo {
        width: 16.5%;
        /* 120px ÷ 960px*/
    }

    .nav {
        display: flex;
        align-items: center;
        position: static;
        width: 40%;
        /* 840px ÷ 960px */
    }

    .gnb {
        display: flex !important;
        flex-direction: row;
        position: static;
        width: 100%;
    }

    .gnb li {
        display: block;
        margin-right: 5%;
        margin-left: auto;
        /* 50px ÷ 840px */
        background: none;
    }

    .gnb li a {
        width: auto;
        padding: 0;
        text-indent: 0;
    }

    .gnb li span {
        display: none;
    }

    .menu_toggle_btn {
        display: none;
    }

    /* 콘텐츠 영역 CSS */
    .content_section .button {
        margin-top: 230px;
        width: 230px;
        height: 65px;
        border-radius: 30px;
        background-color: #0830E8;
        font-size: 16px;
        font-weight: bold;
        border: none;
        color: #fff;
        cursor: pointer;
    }
}