/* 모바일버전 */
.container {
  max-width: 280px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
}

.container .header {
  margin-bottom: 20px;
  background-color: #fff;
}

.container .circle {
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.container .welcome {
  font-family: 'Pretendard Variable';
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}

.container form {
  margin-bottom: 20px;
}

.container .pc_p {
  display: none;
}

/* .container .phone_p {
  
} */

.container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.container .form-group {
  margin-bottom: 20px;
}

.container .sec-form {
  margin-bottom: 8px;
}

.container a {
  text-decoration: none;
  font-size: 13px;
  color: #000;
}

.container label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 35px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container button {
  margin: 0 auto;
  display: block;
  width: 80%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}


/* modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  margin-top: -25px;
  margin-right: -12px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 태블릿용 CSS */
@media all and (min-width:768px) {
  .container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
  }
  
  .container .header {
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .container .circle {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  
  .container .welcome {
    font-family: 'Pretendard Variable';
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
  }
  
  .container form {
    margin-bottom: 20px;
  }

  .container .pc_p {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .container .phone_p {
    display: none;
  }
  
  .container p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .container .form-group {
    margin-bottom: 20px;
  }
  
  .container .sec-form {
    margin-bottom: 8px;
  }
  
  .container a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
  }
  
  .container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 35px;
    text-align: left;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container button {
    margin: 0 auto;
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container button:hover {
    background-color: #0056b3;
  }
  
  /* modal */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    padding-top: 110px;
    font-family: 'PretendardVariable';
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    margin-top: -25px;
    margin-right: -12px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}


/* PC용 CSS */
@media all and (min-width:960px) {
  .container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
  }
  
  .container .header {
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .container .circle {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  
  .container .welcome {
    font-family: 'Pretendard Variable';
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
  }
  
  .container form {
    margin-bottom: 20px;
  }

  .container p {
    font-size: 16px;
    margin-bottom: 20px;
    
  }
  
  .container .form-group {
    margin-bottom: 20px;
  }
  
  .container .sec-form {
    margin-bottom: 8px;
  }
  
  .container a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
  }
  
  .container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 35px;
    text-align: left;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container button {
    margin: 0 auto;
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container button:hover {
    background-color: #0056b3;
  }
  
  /* modal */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    padding-top: 110px;
    font-family: 'PretendardVariable';
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    margin-top: -25px;
    margin-right: -12px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}