/* CSS 초기화 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    height: 100vh;
    font-family: NanumGothic, 나눔고딕, 'Nanum Gothic', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    background: url(../images/body_bg.png) no-repeat center;
    background-size: cover;
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul,
li {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #fff;
    background: transparent;
}

img {
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    vertical-align: top;
    appearance: none;
    border-radius: 0;
    font-family: NanumGothic, 나눔고딕, 'Nanum Gothic', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}

/* 웹폰트 CSS */
@font-face {
    font-family: 'PretendardVariable';
    src: url(../webfont/PretendardVariable.ttf);
}

@font-face {
    font-family: 'WAGURI';
    src: url(../webfont/첨부파일5\(WAGURI\ TTF\).ttf);
}