body {
    height: 100vh;
    font-family: NanumGothic, 나눔고딕, 'Nanum Gothic', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    background: url(../images/URL_bg.png) no-repeat center;
    background-size: cover;
    line-height: 1;
}

.chat-box {
    max-width: 80%;
}

.chat-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.user-message .text,
.assistant-message .text {
    border-radius: 20px;
    padding: 20px 50px;
    max-width: 80%;
    word-wrap: break-word;
    margin: 4px 0;
}

.user-message .text {
    background-color: #135bce;
    /* 카카오톡 사용자 말풍선 색상 */
    align-self: flex-end;
}

.assistant-message .text {
    background-color: rgba(217, 217, 217, 0.22);
    /* 카카오톡 비서 말풍선 색상 */
    align-self: flex-start;
}

input#urlInput,
button#fetchButton,
#result {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    display: block;
}

input#urlInput {
    width: calc(100% - 40px);
    border: 1px solid #ccc;
    margin-top: 100px;
    border-radius: 30px;
}

button#fetchButton {
    width: 100%;
    background-color: #0830E8;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 120px;
    border-radius: 20px;
    cursor: pointer;
}

.chatbox_section {
    width: 60%;
    margin: 0 auto;
    padding-top: 80px;
    color: #fff;
}

/* 말풍선 기본 스타일 */
.chat-message .text {
    position: relative;
    /* 가상 요소 위치 기준 */
    border-radius: 30px;
    /* 말풍선 둥근 모서리 */
}

.chat-message {
    flex-direction: column;
}

input#urlInput,
button#fetchButton {
    width: calc(80% - 40px);
}

input#urlInput {
    width: 85%;
    padding: 15px;
    margin: 15px auto;
    display: block;
    font-size: 13px;
}

button#fetchButton,
#result {
    width: 50%;
    padding: 15px;
    margin: 15px auto;
    display: block;
    font-size: 13px;
}

/* 말풍선 기본 스타일 */
.chat-message .text {
    position: relative;
    /* 가상 요소 위치 기준 */
    border-radius: 30px;
    /* 말풍선 둥근 모서리 */
    font-size: 0.7rem;
}

.chatbox_section {
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
    color: #fff;
}

/* 반응형 태블릿 버전 */
@media (min-width: 768px) {
    .chat-message {
        flex-direction: column;
    }

    input#urlInput,
    button#fetchButton {
        width: calc(80% - 40px);
    }

    input#urlInput {
        width: 85%;
        padding: 15px;
        margin: 15px auto;
        display: block;
        font-size: 13px;
    }

    button#fetchButton {
        width: 20%;
        background-color: #0830E8;
        color: white;
        border: none;
        padding: 15px;
        margin-top: 30px;
        border-radius: 20px;
        cursor: pointer;
    }
    
    button#fetchButton,
    #result {
        width: 20%;
        padding: 15px;
        margin: 15px auto;
        display: block;
        font-size: 13px;
    }

    /* 말풍선 기본 스타일 */
    .chat-message .text {
        position: relative;
        /* 가상 요소 위치 기준 */
        border-radius: 30px;
        /* 말풍선 둥근 모서리 */
        font-size: 10px;
    }

    .chatbox_section {
        width: 50%;
        margin: 0 auto;
        padding-top: 80px;
        color: #fff;
    }

}

/* 모바일 버전 */
@media (min-width: 1024px) {
    .chat-box {
        max-width: 80%;
    }
    
    .chat-message {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .user-message .text,
    .assistant-message .text {
        border-radius: 20px;
        padding: 20px 50px;
        max-width: 80%;
        word-wrap: break-word;
        margin: 4px 0;
    }
    
    .user-message .text {
        background-color: #135bce;
        /* 카카오톡 사용자 말풍선 색상 */
        align-self: flex-end;
    }
    
    .assistant-message .text {
        background-color: rgba(217, 217, 217, 0.22);
        /* 카카오톡 비서 말풍선 색상 */
        align-self: flex-start;
    }
    
    input#urlInput,
    button#fetchButton,
    #result {
        width: 80%;
        padding: 10px;
        margin: 20px auto;
        display: block;
    }
    
    input#urlInput {
        width: calc(100% - 40px);
        border: 1px solid #ccc;
        margin-top: 100px;
        border-radius: 30px;
    }
    
    button#fetchButton {
        width: 120px;
        background-color: #0830E8;
        color: white;
        border: none;
        padding: 15px;
        margin-top: 30px;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .chatbox_section {
        width: 60%;
        margin: 0 auto;
        padding-top: 80px;
        color: #fff;
    }
    
    /* 말풍선 기본 스타일 */
    .chat-message .text {
        position: relative;
        /* 가상 요소 위치 기준 */
        border-radius: 30px;
        /* 말풍선 둥근 모서리 */
    }
}